In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("data/movie_review.csv")

In [10]:
df.head(5)

,fold_id,cv_tag,html_id,sent_id,text,tag
0,0,cv000,29590,0,films adapted from comic books have had plenty...,pos
1,0,cv000,29590,1,"for starters , it was created by alan moore ( ...",pos
2,0,cv000,29590,2,to say moore and campbell thoroughly researche...,pos
3,0,cv000,29590,3,"the book ( or "" graphic novel , "" if you will ...",pos
4,0,cv000,29590,4,"in other words , don't dismiss this film becau...",pos

,fold_id,cv_tag,html_id,sent_id,text,tag
0,0,cv000,29590,0,films adapted from comic books have had plenty...,pos
1,0,cv000,29590,1,"for starters , it was created by alan moore ( ...",pos
2,0,cv000,29590,2,to say moore and campbell thoroughly researche...,pos
3,0,cv000,29590,3,"the book ( or "" graphic novel , "" if you will ...",pos
4,0,cv000,29590,4,"in other words , don't dismiss this film becau...",pos

# Cleaning data

In [11]:
del df["fold_id"]
del df["html_id"]
del df["sent_id"]

In [12]:
del df["cv_tag"]
df.head(5)

                                                text  tag
0  films adapted from comic books have had plenty...  pos
1  for starters , it was created by alan moore ( ...  pos
2  to say moore and campbell thoroughly researche...  pos
3  the book ( or " graphic novel , " if you will ...  pos
4  in other words , don't dismiss this film becau...  pos

                                                text  tag
0  films adapted from comic books have had plenty...  pos
1  for starters , it was created by alan moore ( ...  pos
2  to say moore and campbell thoroughly researche...  pos
3  the book ( or " graphic novel , " if you will ...  pos
4  in other words , don't dismiss this film becau...  pos

In [13]:
df.describe()

         text    tag
count   64720  64720
unique  63652      2
top         .    pos
freq      123  32937

         text    tag
count   64720  64720
unique  63652      2
top         .    pos
freq      123  32937

# Markdown

In [14]:
import nltk

In [15]:
df1 = df.sample(500)

In [16]:
df1.describe()

       text  tag
count   500  500
unique  499    2
top       .  neg
freq      2  255

       text  tag
count   500  500
unique  499    2
top       .  neg
freq      2  255

In [ ]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem.lancaster import LancasterStemmer

def stem_text(text):
    st = LancasterStemmer()
    words = word_tokenize(text)
    new_words = list(map(lambda x:st.stem(x) ,words))
    return " ".join(new_words)

In [ ]:
df1['text'] = df1['text'].apply(stem_text)

In [ ]:
df1.describe()

In [ ]:
import pandas_profiling

In [ ]:
pandas_profiling.ProfileReport(df1)

In [ ]:
from nltk.corpus import stopwords

def remove_stopwords(text):
    words = word_tokenize(text)
    filtered_words = [word for word in words if word not in stopwords.words('english')]
    return " ".join(filtered_words)

In [ ]:
df1['text'] = df1['text'].apply(remove_stopwords)

In [ ]:
df1.head(5)

In [ ]:
df1.to_csv("data/processed_data1.csv")

In [ ]:
df1 = df.sam

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
def get_vectorizer(data):
    vectorizer = CountVectorizer()
    vectorizer.fit(data)
    return vectorizer

In [ ]:
vec = get_vectorizer(df1["text"])

In [ ]:
vec.vocabulary_

In [ ]:
unique_words = list(vec.vocabulary_.keys())

In [ ]:
import nltk.corpus
from nltk.text import TextCollection
print('hack'); from nltk.book import text1, text2, text3

gutenberg = TextCollection(nltk.corpus.gutenberg)
mytexts = TextCollection([text1, text2, text3])

In [ ]:
mytexts.tf_idf("hey",text1)

In [ ]:
matrix = np.empty([250,len(unique_words)])

In [ ]:
texts = TextCollection([df1["text"][0]])

In [ ]:
texts.vocab()

In [20]:
labels = df1["tag"]

In [ ]:
del df1["tag"]

In [ ]:
textures = df1.values
textures

In [ ]:
texts = TextCollection(textures)

In [ ]:
texts.vocab()

In [ ]:
texts.count("alway")

In [17]:
import nltk
import string
import os

from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.porter import PorterStemmer



def tokenize(text):
    tokens = nltk.word_tokenize(text)
    stems = []
    for item in tokens:
        stems.append(PorterStemmer().stem(item))
    return stems


tfidf = TfidfVectorizer(tokenizer=tokenize, stop_words='english')
tfs = tfidf.fit_transform(df1["text"])

str = 'all great and precious things are lonely.'
response = tfidf.transform([str])
print(response)

feature_names = tfidf.get_feature_names()
#for col in response.nonzero()[1]:
    #print (feature_names[col], ' - ', response[0, col])

  (0, 2321)	0.6798330086282176
  (0, 1013)	0.715649104717601
  (0, 20)	0.1602293334455395
  (0, 2321)	0.6798330086282176
  (0, 1013)	0.715649104717601
  (0, 20)	0.1602293334455395

In [18]:
tfs = tfs.todense()

In [19]:
tfs.shape

(500, 2578)

(500, 2578)

In [21]:
labels = pd.get_dummies(labels)["pos"]
labels

58594    0
39551    0
6783     1
59258    0
25214    1
46957    0
40980    0
29136    1
63514    0
44127    0
21859    1
46120    0
27413    1
63996    0
29543    1
46199    0
45543    0
54554    0
14664    1
31       1
40000    0
49986    0
35917    0
6203     1
3554     1
46344    0
8155     1
51954    0
49328    0
36468    0
        ..
9619     1
57500    0
50796    0
7073     1
46526    0
44660    0
22678    1
9316     1
31551    1
27579    1
58758    0
39744    0
53220    0
35561    0
60974    0
39655    0
22526    1
18783    1
18055    1
52664    0
21387    1
40083    0
11331    1
14956    1
26069    1
60569    0
58116    0
44577    0
3630     1
56108    0
Name: pos, Length: 500, dtype: uint8

58594    0
39551    0
6783     1
59258    0
25214    1
46957    0
40980    0
29136    1
63514    0
44127    0
21859    1
46120    0
27413    1
63996    0
29543    1
46199    0
45543    0
54554    0
14664    1
31       1
40000    0
49986    0
35917    0
6203     1
3554     1
46344    0
8155     1
51954    0
49328    0
36468    0
        ..
9619     1
57500    0
50796    0
7073     1
46526    0
44660    0
22678    1
9316     1
31551    1
27579    1
58758    0
39744    0
53220    0
35561    0
60974    0
39655    0
22526    1
18783    1
18055    1
52664    0
21387    1
40083    0
11331    1
14956    1
26069    1
60569    0
58116    0
44577    0
3630     1
56108    0
Name: pos, Length: 500, dtype: uint8

In [22]:
labels = labels.values

In [23]:
labels.shape

(500,)

(500,)

In [24]:
df_n = pd.DataFrame(tfs)

In [25]:
df_n['label'] = labels

In [26]:
df_n.shape

(500, 2579)

(500, 2579)

In [27]:
import pickle

pickle.dump(tfidf, open("tfidf.pickle", "wb"))

In [28]:
tfidf

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=<function tokenize at 0x00000252DF433F28>, use_idf=True,
        vocabulary=None)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=<function tokenize at 0x00000252DF433F28>, use_idf=True,
        vocabulary=None)

In [29]:
with open('tfidf.pickle', 'rb') as f:
    tf2 = pickle.load(f)

In [30]:
tf2

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=<function tokenize at 0x00000252DF433F28>, use_idf=True,
        vocabulary=None)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=<function tokenize at 0x00000252DF433F28>, use_idf=True,
        vocabulary=None)

In [31]:
tfs.shape

(500, 2578)

(500, 2578)

In [32]:
df_n.to_csv("data/matrixied.csv")

In [33]:
tfs[0]

matrix([[0., 0., 0., ..., 0., 0., 0.]])

matrix([[0., 0., 0., ..., 0., 0., 0.]])

In [34]:
print(tfs[0])

[[0. 0. 0. ... 0. 0. 0.]]
[[0. 0. 0. ... 0. 0. 0.]]

AttributeError: 'matrix' object has no attribute 'values_count'

AttributeError: 'matrix' object has no attribute 'values_count'